<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: center;margin:0 auto;width: 1000px; ">
    <h1>哈哈</h1>
    <table width="100%" border="1" cellspacing="1" cellpadding="0">
        <tr>
            <td>教程名称</td>
            <td>作者</td>
        </tr>
        <!--/*@thymesVar id="learnList" type=""*/-->
        <tr th:each="learn : ${learnList}">
            <td th:text="${learn.title}">SPringBoot干货系列</td>
            <td th:text="${learn.author}">嘟嘟MD</td>
        </tr>
    </table>
</div>
</body>
</html>